@import url("https://fonts.googleapis.com/css2?family=Rampart+One&family=Reggae+One&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
}
/* -------login && singup------ */
.container-login {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-image: url(../public/G.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  animation: bgChange 30s ease-in-out infinite;
}
.form-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.from-login-inputs {
  height: 2.5rem;
  width: 70%;
  border-radius: 0.8rem;
  padding: 0rem 0.9rem;
  font-size: large;
  background-color: whitesmoke;
  backdrop-filter: blur(5px);
  color: black;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
.from-login-inputs:focus {
  background-color: transparent;
  opacity: 1;
  transform: scale(1);
  border: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px rgb(78, 77, 77), 3px -3px 30px #292a2a, -3px 3px 30px #000000;
}

.form-login-google:hover {
  background-color: red;
}

.form-login-facebook:hover {
  background-color: blue;
}
.form-login-login:hover {
  background-color: #000000;
}
.form-login-login {
  background-color: #221d1d;
}
.form-login-facebook {
  background-color: rgb(58, 58, 255);
}
.form-login-google {
  background-color: rgb(252, 70, 70);
}
.form-login-google,
.form-login-facebook,
.form-login-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  font-weight: bold;
  height: 2.5rem;
  width: 70%;
  border-radius: 0.8rem;
  padding: 0rem 0.9rem;
  font-size: medium;
}

.app-name {
  font-family: "Rampart One", cursive;
  font-family: "Reggae One", cursive;
  color: whitesmoke;
  font-size: xx-large;
  line-height: normal;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
}
.go-signup {
  font-family: "Rampart One", cursive;
  font-family: "Reggae One", cursive;
  font-size: medium;
  font-weight: bold;
  color: whitesmoke;
}

@media screen and (min-width: 768px) {
  .from-login-inputs {
    width: 25%;
  }
  .form-login-google,
  .form-login-facebook,
  .form-login-login {
    width: 25%;
  }
  .container-login {
    background-size: contain;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .form-login {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-35%, -50%);
  }
}
@media (max-width: 768px) {
  .form-login {
    animation: loginAnimation 1.7s ease-in-out;
  }
}

@keyframes loginAnimation {
  0% {
    position: absolute;
    left: -300px;
  }
  100% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes bgChange {
  0% {
    background-image: url(../public/B.png);
  }
  10% {
    background-image: url(../public/C.png);
  }
  20% {
    background-image: url(../public/D.png);
  }
  30% {
    background-image: url(../public/E.png);
  }
  40% {
    background-image: url(../public/F.png);
  }
  50% {
    background-image: url(../public/G.png);
  }
  60% {
    background-image: url(../public/H.png);
  }
  70% {
    background-image: url(../public/I.png);
  }
  80% {
    background-image: url(../public/J.png);
  }
  90% {
    background-image: url(../public/A.png);
  }
  100% {
    background-image: url(../public/B.png);
  }
}

/* -------navbar------ */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: black;
}
.nav-items > a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-family: "Rampart One", cursive;
  font-family: "Reggae One", cursive;
  font-size: medium;
  font-weight: bold;
  position: relative;
  opacity: 0.9;
}
.nav-items > a:last-child {
  color: red;
}
.nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.2s;
}
.nav-items > a:hover::before {
  width: 100%;
  background: red;
}
.nav-items > a:hover {
  opacity: 1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  z-index: 99999;
}
.logo {
  content: url(../public/Logo.jpeg);
  height: 70px;
  width: 110px;
  border-radius: 15px;
  margin: 15px;
}

.nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .bars {
    position: relative;
    width: 35px;
    height: 3px;
    background-color: white;
  }

  .bars::before,
  .bars::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    transition: all 0.2s ease-in-out;
  }
  .bars::after {
    transform: translateY(-10px);
    width: 35px;
    right: 0;
  }
  .bars::before {
    transform: translateY(10px);
    width: 35px;
    right: 0;
  }

  .open > .bars {
    transform: translateX(-40px);
    background: transparent;
  }
  .open > .bars::before {
    width: 35px;
    transform: rotate(45deg) translate(26px, -26px);
    background: red;
  }
  .open > .bars::after {
    width: 35px;
    transform: rotate(-45deg) translate(26px, 26px);
    background: red;
  }

  .logo {
    height: 50px;
    width: 70px;
    border-radius: 15px;
  }
  .nav {
    height: 60px;
    padding-inline: 0;
  }
  .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: black;
    align-items: center;
    gap: 1rem;
    padding-top: 20%;
    width: 100%;
    height: 100vh;
    transform: translateY(-200vh);
    transition: all 0.4 ease;
  }
  .open {
    transform: translateY(0);
  }
}

/* ---------homepage-----------*/

.homepage-container {
  margin-top: 100px;
  margin-inline: 6%;
}

.description {
  font-family: "Rampart One", cursive;
  font-family: "Reggae One", cursive;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.explaining {
  font-family: "Rampart One", cursive;
  font-family: "Reggae One", cursive;
  font-size: smaller;
  font-weight: 900;
  color: black;
  text-transform: capitalize;
}

.highlited {
  color: red;
}

.real-people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.card {
  height: 40vh;
  width: 23vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border: 4px black dotted;
}
.card-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.likes,
.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 40%;
}
.details > p,
.stat {
  color: goldenrod;
  font-family: "Rampart One", cursive;
  font-family: "Reggae One", cursive;
  font-size: smaller;
  font-weight: 700;
}
.users {
  height: 23vh;
  width: 20vw;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .homepage-container {
    margin-top: 70px;
  }
  .description {
    font-size: x-large;
    margin: 3px;
  }
  .real-people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 1rem;
  }
  .card {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .users {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

/* ------ carrousel -------*/

.carousel {
  display: none;
}

ul.slides {
  display: block;
  position: relative;
  height: 250px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 80px;
  line-height: 200px;
  color: red;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: grey;
  opacity: 0.7;
  margin-inline: 5px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4 {
  opacity: 1;
}

input:checked + .slide-container .nav label {
  display: block;
}

@media (min-width: 768px) {
  ul.slides {
    display: block;
    position: relative;
    height: 600px;
    width: 100%;
    float: right;
  }
  .carrousel {
    height: 600px;
    width: 100%;
    float: right;
  }
  .text {
    float: left;
    width: 100%;
    line-height: 35px;
  }
  .carousel-controls {
    position: absolute;
    top: 30%;
  }
}
